
 .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table th:nth-child(1),
  .table td:nth-child(1) {
    width: 10%; 
  }
  
  .table th:nth-child(2),
  .table td:nth-child(2) {
    width: 20%; 
  }
  
  .table th:nth-child(3),
  .table td:nth-child(3),
  .table th:nth-child(4),
  .table td:nth-child(4) {
    width: 25%; 
  }
  
  .table th:nth-child(5),
  .table td:nth-child(5) {
    width: 20%; 
  }
  .icon {
    gap: 5px;
    
  }
  
  .delete-icon {
  
    color: #f44336; 
  
  }
  
  .edit-icon {
    color:solid gray;
     cursor: pointer;
  }
  .delete-icon,
  .edit-icon {
    font-size: 24px; 
    margin-right: 10px;
  }
  .delete-icon,
  .edit-icon {
    font-size: 24px;
    margin-right: 40px;
    cursor: pointer;
    display: inline-block; 
    vertical-align: middle; 
    padding:10px;
    border:0.3px solid;
  }
  